// app global css in Sass form
// Color classes
.primary
  color: $primary
.primarydark
  color: $primarydark
.primarylight
  color: $primarylight
.secondary
  color: $secondary
.accent
  color: $accent

.dark
  color: $dark
.light
  color: $light

.positive
  color: $positive
.negative
  color: $negative
.info
  color: $info
.warning
  color: $warning

// Fonts
h1, h2, h3, h4, h5, h6
  margin-bottom: 0
h4
  margin-top: 0
p, div
  hyphens: none
  text-align: justify

h1, h2, h3, h4, h5, h6, p, div
  color: $light

.page-title
  font-weight: bold

// Card formatting
.card-border
  border-width: 1px
  border-style: solid
  border-color: $primary

.card-border:hover
  border-width: 1px
  border-style: solid
  border-color: $secondary

.dashboard-card-subtext
  font-size: 0.75rem
  text-align: center

// Tooltips
.info-tooltip
  background-color: $primarydark
  font-size: 1rem
  max-width: 350px
  padding: 1.5rem
